{"IP": "localhost", "port": 9000}d to return?
    public boolean receiveStones(Stone stone) throws IOException {
        JSONArray commandArray = new JSONArray();
        commandArray.add("receive-stones");
        commandArray.add(stone.getStone());
        this.outputWriter.println(commandArray);
        this.outputWriter.flush();
        return proxyPlayer.receiveStones(stone);
    }

    public String makeAMove(ArrayList<Board> boards) throws IOException {
        if (!(proxyPlayer.isRegistered() && proxyPlayer.isReceivedStone())) {
            return "Go has gone crazy!";
        }
        JSONArray commandArray = new JSONArray();
        commandArray.add("make-a-move");
        JSONArray boardArray = new JSONArray();
        for (Board b : boards) {
            boardArray.add(b.printBoard());
        }
        commandArray.add(boardArray);
        this.outputWriter.println(commandArray);
